<!-- Fonte Montserrat -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<!-- Body? -->
<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <!-- Container geral -->
  <ion-grid>
    <ion-col>
      <img src="../../assets/img/home-image.png" alt="Saco de compras com pão, leite etc">
      <h1>Entregamos mantimentos à sua porta</h1>
      <p>A mercearia oferece vegetias e frutas frescas. Encomende itens frescos na mercearia.</p>
      <button routerLink="/tabs/tab3">INICIAR <ion-icon name="chevron-forward-outline"></ion-icon></button>
    </ion-col>
  </ion-grid>
</ion-content>
