<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-grid>
    <div class="column-container">

      <ion-row class="header">
        
        <ion-row class="location-container">
          <ion-icon name="location-outline"></ion-icon>
          <p>São Paulo, SP</p>
        </ion-row>
        <img src="../../assets/img/user.png" alt="foto de usuário genérica">
      </ion-row>
      <ion-searchbar placeholder="" class="ion-text-start"></ion-searchbar>

      <ion-row class="section-container">
        <ion-row class="section" id="fruit">
          <img src="../../assets/img/frutas.png" alt="literalmente um abacate">
          <p>Frutas</p>
        </ion-row>
        <ion-row class="section" id="several">
          <img src="../../assets/img/diversos.png" alt="una barra de chocola">
          <p>Diversos</p>
        </ion-row>
        <ion-row class="section" id="butcher">
          <img src="../../assets/img/acougue.png" alt="um frango frito  ">
          <p>Açougue</p>
        </ion-row>
        <ion-row class="section" id="drink">
          <img src="../../assets/img/drink.png" alt="um copo de refri tipo do mcdonalds">
          <p>Bebidas</p>
        </ion-row>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
